body{
	 background-image: url(1.png);
}

img{
	position:relative;
	top: 10px
}
.container-fluid{
	position:relative;
	top: 150px
}


.valueNumber{
	position:relative;
	top: 20px
}
h2{
	
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

}

 .btn {
 border-radius: 100px;
 font-size: 13px;
 font-weight: bold;
 letter-spacing: 1px;
 padding: 17px 39px;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14);
 text-transform: uppercase;
 box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
}

.btn-success{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#05ac50+0,21dd72+50,05c44e+51,05ac50+71,05ac50+100 */
 background: #05ac50;
 /* Old browsers */
 background: -moz-linear-gradient(-45deg, #05ac50 0%, #21dd72 50%, #05c44e 51%, #05ac50 71%, #05ac50 100%);
 /* FF3.6-15 */
 background: -webkit-linear-gradient(-45deg, #05ac50 0%,#21dd72 50%,#05c44e 51%,#05ac50 71%,#05ac50 100%);
 /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(135deg, #05ac50 0%,#21dd72 50%,#05c44e 51%,#05ac50 71%,#05ac50 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05ac50', endColorstr='#05ac50',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */
 background-size: 400% 400%;
 -webkit-animation: AnimationName 3s ease infinite;
 -moz-animation: AnimationName 3s ease infinite;
 animation: AnimationName 3s ease infinite;
 -webkit-animation: AnimationName 3s ease infinite;
 -moz-animation: AnimationName 3s ease infinite;
 animation: AnimationName 3s ease infinite;
 border: medium none;
}

.btn-danger{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e81216+0,f45355+50,f6290c+51,ed0e11+71,fc1b21+100 */
 background: #e81216;
 /* Old browsers */
 background: -moz-linear-gradient(-45deg, #e81216 0%, #f45355 50%, #f6290c 51%, #ed0e11 71%, #fc1b21 100%);
 /* FF3.6-15 */
 background: -webkit-linear-gradient(-45deg, #e81216 0%,#f45355 50%,#f6290c 51%,#ed0e11 71%,#fc1b21 100%);
 /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(135deg, #e81216 0%,#f45355 50%,#f6290c 51%,#ed0e11 71%,#fc1b21 100%);
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e81216', endColorstr='#fc1b21',GradientType=1 );
 /* IE6-9 fallback on horizontal gradient */
 background-size: 400% 400%;
 -webkit-animation: AnimationName 3s ease infinite;
 -moz-animation: AnimationName 3s ease infinite;
 animation: AnimationName 3s ease infinite;
 -webkit-animation: AnimationName 3s ease infinite;
 -moz-animation: AnimationName 3s ease infinite;
 animation: AnimationName 3s ease infinite;
 border: medium none;
}

 @-webkit-keyframes AnimationName {
 0%{
 background-position:0% 31%
 }
 50%{
 background-position:100% 70%
 }
 100%{
 background-position:0% 31%
 }
}
 @-moz-keyframes AnimationName {
 0%{
 background-position:0% 31%
 }
 50%{
 background-position:100% 70%
 }
 100%{
 background-position:0% 31%
 }
}
 @keyframes AnimationName {
 0%{
 background-position:0% 31%
 }
 50%{
 background-position:100% 70%
 }
 100%{
 background-position:0% 31%
 }
}
 .btn-outline-light:hover{
 color: #3f345f;
}
 .btn-outline-warning:hover{
 color: #ffffff;
}
 .btn-sm {
 font-size: 12px;
 padding: 11px 25px;
}
 .elements-page-btn .btn {
 margin: 6px 3px;
}
/*.custom.m{
	cursor: pointer;
	color: #fff;
	font-weight: 800;
}*/